body{
    background-color: #252525;
    color: white;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    width: 40%;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.selectContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    width: 40%;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.button{
    cursor: pointer;
    padding: .5rem;
    margin: .5rem;
    margin-top: 5rem;
    background-color: #4A55A2;
    border: none;
    outline: none;
    color: white;
    border-radius: 8px;
    width: 60%;
    font-size: 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out .25s;
}

.button:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);;
}

.splitContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 15%;

    ::placeholder{
        color: #505050;
    }

    .input{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin: 8px;
        width: 35%;
        padding: .5rem;
        background-color: #252525;
        border: none;
        border-bottom: 1px solid #A0BFE0;
        border-radius: 4px 4px 0px 0px;
        color: #505050;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    .textarea{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin: 8px;
        width: 35%;
        padding: .5rem;
        background-color: #252525;
        border: none;
        border-bottom: 1px solid #A0BFE0;
        border-radius: 4px 4px 0px 0px;
        color: #505050;
        resize: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }
}

.listContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    ::placeholder{
        color: #505050;
    }

    .input{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin: 8px;
        width: 45%;
        padding: .5rem;
        background-color: #252525;
        border: none;
        border-bottom: 1px solid #A0BFE0;
        border-radius: 4px 4px 0px 0px;
        color: #505050;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    .select{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin: 8px;
        width: 45%;
        padding: .5rem;
        background-color: #252525;
        border: none;
        border-bottom: 1px solid #A0BFE0;
        border-radius: 4px 4px 0px 0px;
        color: #505050;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }
}


@media only screen and (max-width: 600px) {

    .inputContainer{
        width: 90%;

        .splitContainer{
            flex-direction: column;

            .input{
                width: 80%;
            }

            .textarea{
                width: 80%;
            }
        }

        .button{
            margin-top: 10px;
        }

    }

    .h1{
        text-align: center;
    }

    .selectContainer{
        width: 90%;

        .select{
            width: 90%;
        }

        .input{
            width: 90%;
        }
    }
  }


  @media only screen and (max-width: 1024px) {
    .inputContainer{
        width: 80%;
    }

    .selectContainer{
        width: 80%;

        .select{
            width: 60%;
        }

        .input{
            width: 60%;
        }
    }
  }