/* 
body {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;


} */
.center {
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SearchBox {
    flex-direction: row;     
}

.Search {
    border-radius: 10px;
    border: solid #4A55A2 6px; 
    margin: 10px;
    width: 45rem;
}

.FilterButton {
    width: 10rem;
    height: 1.9rem;
    color: white;
    background-color: #4A55A2;
    border-radius: 6px;
    border: solid #4A55A2;
    cursor: pointer;

}

.ProductBox {
    display: grid;
    flex-direction: row;
    width: 18rem;
    height: 10rem;
    background: #393939;
    opacity: 80%;
    margin: 15px;


}

.ProductList {
    display: grid;
    flex-direction: row;
}