/* 
body {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;


} */
.center {
  width: min(60rem, 100%);
  margin: 0 auto;
}

.SearchBox {
    display:flex;
    align-items: center;
}

.Search {  
    border-radius: 10px;
    border: solid #4A55A2 6px; 
    margin: 10px;
    width: 100%;
}

.FilterButton {
    width: 10rem;
    height: 1.9rem;
    color: white;
    background-color: #4A55A2;
    border-radius: 6px;
    border: solid #4A55A2;
    cursor: pointer;
}

.ProductBox {
    display: flex;
    flex-direction: column;
    background: #393939;
    opacity: 80%;
    margin: 10px;
    padding: 10px;
}

.ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

@media only screen and (max-width: 600px) {


}

.ProductInfo {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    
    
}
.wrapper2 {
    /* display: flex;
    justify-content: center; */
    padding-inline:1rem;
    
}

.wrapper3 {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    text-align: center;
}

img {
    /* display: flex; */
    width: 100%;
    
}

.image {
    width: 30%;
}

.FilterHeader {
background-color: #4A55A2;
/* opacity: 80%; */
width: 100%;
text-align: center;
}

.FilterBox {
    display: none;
    position: absolute;
    background-color: #545660;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 30rem;
}

.showFilters {
    display:grid;
}

p {
    color: white;
}

.Filters {
    display: flex;
    background-color: #545660;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* opacity: 80%; */
    padding-inline: 15px;
    width: 100%;
}

.NotFound {
    display: none;
    margin: 10px;
    border-radius: 5px 5px 30px 30px;
    flex-direction: column;
    background: #393939;
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 40px;
    align-items: center;
    
}

.ShowNotFound {
    display: flex
}
